<nav class="navbar">
  <div class="nav-div">
    <a href="/">Home</a>
    <% if(user) { %>
    <a href="/users/<%= user._id %>/playlists">Your Playlists</a>
    <a href="/users/<%= user._id %>/playlists/new">Create Playlists</a>
    <a href="/tracks/new">Add Tracks</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </div>
</nav>
