<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %> <% if (user) { %>
    <h1>Welcome to the Music Playlist App</h1>
    <h2>Hello, <%= user.username %>!</h1>
    <% } else { %>
    <h1>Welcome to the Muisc Playlist App.</h1>
    <h2><a class="sign-in" href="http://localhost:3000/auth/sign-in">Please sign in.</a></h2>
    <% } %>
  </body>
</html>
