<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Index</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Playlists</h1>
    <% playlists.forEach(playlist => { %>
        <p><%=playlist.name  %></p>
    <% }) %>
    <a href="/users/<%=user._id%>/playlists/new">Add a playlist</a>
</body>
</html>