<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Playlists</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Create a new playlist</h1>
    <form action="/playlists" method="POST">
        <label for="playlist">Playlist Name</label>
        <input type="text" name="name" id="playlist">

        <label for="description">Description</label>
        <input type="text" name="description" id="description">
        <button type="submit">Create Playlist</button>
    </form>
</body>
</html>