<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Tracks</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/tracks-new.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a new track</h1>
    <% if (typeof successMessage !== 'undefined') { %>
    <p class="success-message"><%= successMessage %></p>
    <% } %> creates visual confirmation for submitted a track
    <form action="/tracks" method="POST">
      <label for="track">Artist Name</label>
      <input type="text" name="artistName" id="track" />
      <label for="trackname">Track Name</label>
      <input type="text" name="trackName" id="trackname" />
      <button type="submit">Create Track</button>
    </form>
  </body>
</html>
